.panel {
    pointer-events: auto;
    display: block;
    position: absolute;
    top: 5%;
    left: -100%;
    width: 800px;
    height: 90%;
    background-color: #222222ee;
    z-index: 1000;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-radius: 5px;
    padding-top: 4rem;
    transition: all 0.25s;

    &.active {
        left: 5%; 
    }

    .tabs {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4rem;
        display: flex;
        flex-direction: row;

        button {
            width: 50%;
            height: 4rem;
            border: 1px solid #333333;
            line-height: 3.5rem;
            text-align: center;
            font-size: 1.2rem;
            &:hover {
                background-color: #333333;
            }

            &.active {  
                background-color: transparent;
            }
        }
    }

    #tabcontent {
        position: relative;
        height: 100%;
        width: 100%;
    
        &>div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: none;
            &.active {
                display: block;
            }

            padding: 2rem;

        }

        .airportlist {
            &.active {
                display: flex;
                flex-direction: column;
            }
            
            .ap_entry {
                background-color: #222222;
                margin-bottom: 0.5rem;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding: 0.25rem;
                border: 2px solid transparent;
                font-size: 1.2rem;
                &:hover {
                    border: 2px solid #888888;
                }

                &.selected {
                    border: 2px solid #ffcc00;
                }
                
                &>div {
                    padding: 0.3rem;
                }

                .ap_icao { width: 10%; }
                .ap_name { width: 70%; }
                .ap_bearing { width: 10%; text-align: right;
                    span { display: inline-block; }
                }
                .ap_distance { width: 10%; text-align: right;}
            }
        }
    }

    .taskheader {
        margin-bottom: 1rem;
        border-bottom: 1px solid #666;
        color: #888;

        h2 {
            font-size: 1.2rem;
        }
    }

    .waypoint {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #222222;
        border: 2px solid transparent;

        &.wp_current {
            border: 2px solid #ffcc00;
        }

        &>div { padding: 1rem;}

        .wp_name {
            width: 100%;
            font-size: 1rem;
            border-bottom: 1px solid #666;
        }

        .wp_minmax {
            width: 60%;
        }
        .wp_bearing { width: 20%; text-align: right;
            span { 
                display: inline-block; 
                transform-origin: 50% 50%;
            }
        }
        .wp_distance { width: 20%; text-align: right;}

    }

}